.about-me {
    background-color: #000000;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.profile-image img {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    border: 4px solid #ff6600;
    margin-right: 50px;
}

.text {
    max-width: 900px;
    text-align: left;
}

.text p {
    margin-bottom: 2rem;
    line-height: 2;
    font-size: larger;
}

.download-cv {
    background-color: #ff6600;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 2px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: .5rem;
}

.skill-card {
    text-align: center;
    width: 90px;
    flex-shrink: 0;
}

.skill-card .icon {
    font-size: 2.3rem;
    color: #ff6600;
}

.skill-card p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .text {
        text-align: center;
    }

    .profile-image img {
        width: 200px;
    }

    .skills {
        gap: 1.5rem;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .text {
        text-align: center;
    }

    .profile-image img {
        margin-top: 10px;
        width: 300px;
        height: auto;
        margin-left: 3rem;
    }

    .skills {
        gap: 1.5rem;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    /* Ensure everything is centered on small screens */
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .skills {
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .skill-card {
        width: 70px; /* Adjust skill card width */
        flex-grow: 1;
        max-width: 80px;
    }

    .skill-card .icon {
        font-size: 1.8rem;
    }

    .skill-card p {
        font-size: 0.8rem;
    }

    .profile-image img {
        width: 250px;
        height: 350px;
        border-radius: 50%;
        border: 4px solid #ff6600;
        margin-bottom: 1.5rem;
    }

    .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .text p {
        margin-bottom: 2rem;
        line-height: 2;
        font-size: medium;
        margin-right: 2rem;
    }

    .download-cv {
        width: 60%;
        margin-right: 2rem;
    }

    .subtitle {
        font-size: 1rem;
        color: #ff6600;
        margin-bottom: 1rem;
        margin-top: 6px;
    }
}
